 .u-section-1 {
  background-image: url("/static/sssss-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 855px;
}

.u-section-1 .u-image-1 {
  width: 289px;
  height: 139px;
  margin: 86px 365px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  line-height: 1;
  text-shadow: 3px 3px 13px rgba(0,0,0,0.25);
  font-weight: 700;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  letter-spacing: 5px;
  font-weight: 600;
  width: 489px;
  margin: 33px auto 0;
}

.u-section-1 .u-image-2 {
  width: 337px;
  height: 54px;
  margin: 52px auto 60px;
}

.login {
  background: none;
  border: none;
  box-shadow: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 705px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 251px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}