{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table TABLE BORDER="2"    WIDTH="50%"   CELLPADDING="3" CELLSPACING="2" style="border:1px solid black;margin-left:auto;margin-right:auto;">
    <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    {% for quote in quote_list %}
    <tr>
            <TD style="border-left: thin solid; border-top: thin solid; border-bottom: thin solid;">{{ quote.symbol }}</TD>
            <TD style="border-left: thin solid; border-top: thin solid; border-bottom: thin solid;">{{ quote.name }}</TD>
            <TD style="border-left: thin solid; border-top: thin solid; border-bottom: thin solid;">{{ quote.shares }}</TD>
            <TD style="border-left: thin solid; border-top: thin solid; border-bottom: thin solid;">{{ quote.price | usd }}</TD>
            <TD style="border-left: thin solid; border-top: thin solid; border-bottom: thin solid;">{{ (quote.price * quote.shares) | usd }}</TD>
    </tr>
    {% endfor %}
</table>

<p>
    <b>Cash: </b>{{ cash | usd}}
</p>
<p>
    <b>Total: </b> {{ (cash + running_total) | usd }}
</p>

{% endblock %}